{#=====================================================
  Home page
  - List of teams passed in as 'teams' array
  - Form for adding a new team
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Team Manager 6000

{% endblock %}


{% block content %}

    <h1>Teams</h1>


    <section id="team-list" class="{% if session.user_id %} logged-in {% endif %}">

        {% for team in teams %}

            <article class="{% if team.manager == session.user_id %} owned {% endif %}">
                <h2>{{ team.name }}</h2>

                <p>{{ team.description }}</p>

                <a href="/team/{{ team.code }}">
                    <p>See details...</p>
                </a>
            </article>

        {% else %}

            <p>None!</p>

        {% endfor %}

    </section>


    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <details id="team-form">

            <summary role="button">Add a New Team</summary>

            <article>

                <form action="/add" method="POST">

                    <input
                        type="text"
                        name="code"
                        placeholder="Team code"
                        required
                    >

                    <input
                        type="text"
                        name="name"
                        placeholder="Team name"
                        required
                    >

                    <input
                        type="text"
                        name="description"
                        placeholder="Team description"
                        required
                    >

                    <input
                        type="url"
                        name="website"
                        placeholder="Team website URL"
                        required
                    >

                    <button>Add Team</button>

                </form>

            </article>

        </details>


    {% endif %}

{% endblock %}

