{#=====================================================
  Team page
  - Shows details of a single team
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Team Info

{% endblock %}


{% block content %}

    <h1>Team Details</h1>


    <section id="team-details">

        <article>

            <header>
                <h2>{{ team.team_name }}</h2>
            </header>

            <p>{{ team.description }}</p>

            <p>
                Manager: <strong>{{ team.manager_name }}</strong>

                {% if team.manager == session.user_id %} (YOU!) {% endif %}
            </p>

            <p>Website: <a href="{{ team.website }}">{{ team.website }}</a></p>

            {# Only show delete link if logged in AND owner #}
            {% if session.logged_in and (team.manager == session.user_id) %}

                <footer>

                    <a href="/delete/{{ team.id }}" onclick="return confirm('Really delete?');">Delete</a>

                </footer>

            {% endif %}

        </article>

        <article>

            <header>
                <h3>Players</h3>
            </header>

            <ul>
                {% for player in players %}

                    <li>
                        {{ player.name }}

                        {% if player.notes %}

                            - {{ player.notes }}

                        {% endif%}
                    </li>

                {% else %}

                    <p>None!</p>

                {% endfor %}
            </ul>

            {# Only show delete link if logged in AND owner #}
            {% if session.logged_in and (team.manager == session.user_id) %}

                <details id="player-form">

                    <summary role="button">Add a New Player</summary>

                    <form action="/add-player/{{ team.code }}" method="POST">

                        <input
                            type="text"
                            name="name"
                            placeholder="Player name"
                            required
                        >

                        <input
                            type="text"
                            name="notes"
                            placeholder="Player notes (optional)"
                        >

                        <button>Add Player</button>

                    </form>

                </details>

            {% endif %}

        </article>

    </section>


{% endblock %}

